#root {
  width: 80.5%;
  max-width: 1160px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 1024px) {
  #root {
    @apply w-full;
    @apply p-6;
  }
}

html {
  @apply bg-slate-100 dark:bg-slate-700;
}

@media (max-width: 375px) {
  #root {
    @apply p-6;
  }
}
